.main {
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border-left: 1px solid var(--boderColor);
}
.social {
  display: flex;
  flex-direction: column;
}
.link {
  height: 60px;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.link:hover {
  background: var(--buttonHoverColor);
}
.image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.resume p {
  margin-left: 4px;
  margin-top: 8px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.resume a{
  color: var(--linkColor);
}

.resumeMobile {
  display: none;
}

@media (orientation: portrait) {
  .main {
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-left: none;
    border-top: 1px solid var(--boderColor);
  }
  .social {
    flex-direction: row;
  }
  .link {
    height: auto;
    width: 60px;
    justify-content: center;
    align-items: flex-start;
    margin-right: 4px;
    background-color: var(--buttonHoverColor);
  }
  .resume {
    display: none;
  }
  .resumeMobile {
    height: 60px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttonHoverColor);
  }
}
