.main {
  bottom: 0;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border-left: 1px solid var(--boderColor);
}
.social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.link {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 50%;
  margin: 4;
}
.link img{
  height: 100%;
  width: 100%;
}
.link:hover {
  background: var(--highlightColor);
}
.resume p {
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.resume a{
  color: var(--highlightColor);
}

.resumeMobile {
  display: none;
}

@media (orientation: portrait) {
  .main {
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-left: none;
    border-top: 1px solid var(--boderColor);
  }
  .social {
    flex-direction: row;
    align-items: center;
  }
  .link {
    background-color: var(--highlightColor);
  }
  .resume {
    display: none;
  }
  .resumeMobile {
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--highlightColor);
  }
  .resumeMobile a{
    color: var(--color);
  }
}
