.main {
  height: 100%;
  width: 4rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border-left: 1px solid var(--boderColor);
}
.social {
  display: flex;
  flex-direction: column;
}
.link {
  height: 4rem;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}
.link:hover {
  background: var(--highlightColor);
}
.image {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.resume p {
  margin-left: 0.2rem;
  margin-top: 0.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.resume a{
  color: var(--highlightColor);
}

.resumeMobile {
  display: none;
}

@media (orientation: portrait) {
  .main {
    height: 3rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border-left: none;
    border-top: 1px solid var(--boderColor);
  }
  .social {
    flex-direction: row;
  }
  .link {
    height: auto;
    width: 3rem;
    justify-content: center;
    align-items: flex-start;
    margin-right: 0.2rem;
    background-color: var(--highlightColor);
  }
  .resume {
    display: none;
  }
  .resumeMobile {
    height: 3rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--highlightColor);
  }
  .resumeMobile a{
    color: var(--color);
  }
}
