.main {
  height: 100%;
  width: 5rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--boderColor);
}

.link {
  height: 5rem;
  width: auto;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.5rem;
  color: var(--color);
  transform: rotate(-90deg);
}

.link:hover {
  background: var(--highlightColor);
}
.selected {
  background: var(--highlightColor);
}

@media (orientation: portrait) {
  .main {
    height: 5rem;
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid var(--boderColor);
    border-right: none;
  }
  .link {
    height: auto;
    width: 5rem;
    transform: rotate(0deg);
    margin-right: 0.2rem;
  }
}
