.main {
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--boderColor);
  gap: 0.5rem;
}

.link {
  height: 80px;
  width: auto;
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0.5rem;
  color: var(--color);
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}

.link:hover {
  background: var(--highlightColor);
  transform: rotate(0deg);
}
.selected {
  background: var(--highlightColor);
}

@media (orientation: portrait) {
  .main {
    height: 80px;
    width: 100%;
    flex-direction: row;
    border-bottom: 1px solid var(--boderColor);
    border-right: none;
  }
  .link {
    height: auto;
    width: 80px;
    transform: rotate(0deg);
  }
  .link:hover{
    align-items: center;
  }
}
