.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 16px;
  padding-right: 15%;
  gap: 8px;
}

.resume {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  background: var(--buttonColor);
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  color: var(--highlightColor);
}

.hi {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 800;
  gap: 0.5rem;
}

.wave {
  height: 3rem;
  width: 3rem;
}

.stack {
  color: var(--highlightColor);
  font-size: 3rem;
  font-weight: 800;
}

.linksBox {
  display: flex;
  gap: 8px;
}

.link {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightButtonColor);
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 2rem;
  color: var(--lightButtonTextColor)
}

.linkIcon {
  height: 24px;
  width: 24px;
}

.desc{
  color: var(--lightColor);
  width: 28rem;
  text-align: center;
}
.date {
  color: var(--lightColor);
}

.divider {
  height: 1px;
  background: var(--boderColor);
}

.step {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  width: 50%;
  gap: 1rem;
}

.leftStep {
  left: 0;
  display: flex;
  margin-left: 0.5rem;
  justify-content: flex-end;
}

.rightStep {
  left: 50%;
  display: flex;
  margin-left: -0.45rem;
  justify-content: flex-start;
}

.circle {
  min-height: 1rem;
  min-width: 1rem;
  height: 1rem;
  width: 1rem;
  background: var(--color);
  border-radius: 50%;
  z-index: 2;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 0.1rem;
  height: 100%;
  top: 0;
  left: 50%;
  z-index: 1;
  background: var(--color);
  border-radius: 0.25rem;
}

@media (orientation: portrait) {
  .main {
    width: 100vw;
    padding-right: 0%;
  }
}