.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  word-wrap: break-word;
  text-align: center;
  padding: 16px;
}

.hi {
  color: var(--color);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1rem;
}

.divider {
  height: 1px;
  width: 50%;
  background: var(--dividerColor);
}

.name {
  color: var(--color);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: underline;
}

.shortdesc {
  color: var(--color);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.description {
  display: inline;
  color: var(--color);
  letter-spacing: 2px;
  font-size: 1rem;
  word-wrap: break-word;
}
