.canvas {
  position: absolute;
  height: 100dvh;
  width: calc(100dvw - 150px);
  top: 0;
  left: 150px;
}

@media (orientation: portrait) {
  .canvas {
    width: 100dvw;
    top: 150px;
    left: 0;
    height: calc(100dvh - 150px);
  }
}
