.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.soundsBox {
    display: flex;
    gap: 20px;
}

.button {
    background: none;
    border: none;
}

.button:active {
    outline: none;
}

.soundButton {
    color: red;
    height: 50px;
}

.playPauseBtn {
    height: 100px;
}

.active{
    color: var(--buttonColor);
}