.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
  overflow: auto;
}


.address {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.textBox {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.publicKey {
  width: 100%;
  text-wrap: wrap;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.publicKey p {
  font-size: 0.5rem;
  font-weight: 500;
  width: 100%;
}


@media (orientation: portrait) {
  .address {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .publicKey{

  }
  .publicKey p {
  }
}