.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-right: 15%;
}


@media (orientation: portrait) {
  .main {
    padding-right: 0%;
  }
}