.main {
  height: 100%;
  width: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 3rem 0;
  letter-spacing: 0.3rem;
}
.links {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}
.link {
  text-decoration: none;
  transform: rotate(-90deg);
  text-align: center;
  transition: opacity 0.3s;
}

.line{
  display: flex;
  width: 0.2rem;
  height: 6rem;
  background: var(--color);
}

.copyright{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}

.copyright p{
  transform: rotate(-90deg);
}

.rain{
  background: transparent;
  border: none;
  cursor: pointer;
}

.playPause{
  height: 1.5rem;
  width: 1.5rem;
}

@media (orientation: portrait) {
  .main {
   width: 100%;
   height: 6rem;
   flex-direction: row;
   align-items: center;
   padding: 0 3rem 0 3rem;
  }
  .links{
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .link{
    transform: rotate(0deg);
  }

  .line{
    height: 0.2rem;
    width: 5rem;
    background-color: var(--charcoal);
  }
  
  .copyright p{
    transform: rotate(0deg);
  }
}
