.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 16px 50px 16px;
  letter-spacing: 5px;
}
.links {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
}
.link {
  text-decoration: none;
  transform: rotate(-90deg);
  text-align: center;
  transition: opacity 0.3s;
}

.line{
  display: flex;
  width: 2px;
  height: 100px;
  background: var(--color);
}

.copyright{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}

.copyright p{
  transform: rotate(-90deg);
}

.rain{
  background: transparent;
  border: none;
  cursor: pointer;
}

.playPause{
  height: 24px;
  width: 24px;
  color: rebeccapurple;
}

@media (orientation: portrait) {
  .main {
   width: 100%;
   height: fit-content;
   flex-direction: row;
   align-items: center;
   padding: 50px;
  }
  .links{
    flex-direction: row;
    align-items: center;
    gap: 18px;
  }

  .link{
    transform: rotate(0deg);
  }

  .line{
    height: 2px;
    width: 80px;
  }
  
  .copyright p{
    transform: rotate(0deg);
  }
}
