.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.skillDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  gap: 0.5rem;
  cursor: pointer;
}
.skillDiv::before {
  position: absolute;
	content: '';
  height: 100%;
  width: 100%;
  background: conic-gradient(var(--highlightColor), transparent 120deg);
  border: 1px dashed var(--dividerColor);
}

.skillDiv:hover::before{
  border: 1px solid var(--highlightColor);
  box-shadow: 1px 1px 10px 1px var(--highlightColor);
}


.icon {
  height: 50%;
  width: 50%;
}

.label {
  color: var(--highlightColor);
  font-weight: 700;
}


@media (orientation: portrait) {
  .main{
    padding: 1rem;
    gap: 1rem;
    justify-content: flex-start;
  }
  .skillDiv {
    height: 20%;
    width: 30%;
    flex-direction: column;
    background: var(--lightButtonColor);
  }
}