.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(65, 82, 100, 0.486), rgba(255, 255, 255, 0));
  padding: 1rem;
}

.skillDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.stackName {
  font-size: 1.5rem;
}

.skill {
  padding: 0.3rem;
  transition: all 1s ease;
  font-size: 1rem;
}

.skill:hover {
  position: relative;
  font-size: 2rem;
}