.main {
  height: 100%;
  width: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  opacity: 0;
  transform-origin: bottom;
  animation: growFromBottom 0.5s ease-out forwards;
  overflow: auto;
}

.label{
  font-size: 4vw;
}

@keyframes growFromBottom {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}


@media (orientation: portrait) {
  .main{
    width: 100%;
    height: calc(100% - 100px);
  }
}