:root {
  --background: white;
  --color: black;
  --boderColor: rgba(0, 0, 0, 0.1);
  --buttonColor: transparent;
  --highlightColor: rebeccapurple;
  --dividerColor: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #1f1f1f;
    --color: white;
    --highlightColor: rebeccapurple;
    --boderColor: rgba(255, 255, 255, 0.1);
    --buttonColor: transparent;
    --dividerColor: rgba(255, 255, 255, 0.1);
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:not(body, html) {
  animation: moveTo 2s ease;
}

html,
body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background);
  color: var(--color);
}

@keyframes moveTo {
  from {
    transform: translateY(-100%);;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
  @keyframes moveTo {
    from {
      transform: translateY(100%);;
    }
  }
}
