:root {
  --background: white;
  --color: black;
  --lightColor: rgba(255, 255, 255, 0.50);
  --boderColor: rgba(0, 0, 0, 0.1);
  --buttonColor: #0d4531cc;
  --lightButtonColor: rgb(45, 47, 51);
  --lightButtonTextColor: white;
  --highlightColor: #10CB8A;
  --dividerColor: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  body {
    --background: #1f1f1f;
    --color: white;
    --lightColor: rgba(255, 255, 255, 0.50);
    --highlightColor: #10CB8A;
    --boderColor: rgba(255, 255, 255, 0.1);
    --buttonColor: #0d4531cc;;
    --lightButtonColor: rgb(45, 47, 51);
    --lightButtonTextColor: white;
    --dividerColor: rgba(255, 255, 255, 0.1);
  }
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color);
  text-decoration: none;
  position: relative;
}

*:not(body, html) {
  /* animation: moveTo 2s ease; */
}

html,
body {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: var(--background);
  color: var(--color);
  position: relative;
}

@keyframes moveTo {
  from {
    transform: translateY(-100%);
    ;
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }

  @keyframes moveTo {
    from {
      transform: translateY(100%);
      ;
    }
  }
}