* {
  height: 100%;
}

.App {
  background: cornflowerblue;
}
.App-header {
  background-color: #282c34;
  height: 60px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  height: calc(100% - 100px);
  background: pink;
}

.App-row-one {
  height: 40%;
  position: relative;
  top: 5%;
  display: flex;
  justify-content: center;
}
.App-row-two {
  height: 40%;
  position: relative;
  top: 10%;
  display: flex;
  justify-content: center;
}

.App-footer {
  height: 32px;
  padding-top: 8px;
  background: rebeccapurple;
  text-align: center;
  display: flex;
  justify-content: center;
  color: pink;
}
